@font-face {
    font-family: "kyokasho";
    src: url("./UDDigiKyokashoN-R-01.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:"kyokasho";
    color: black;
  }
  
  header {
    
    background-color: #f10000;
    padding: 10px;
  }
  
  nav {
    text-align: center;
  }
  
  nav button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  h1 {
    text-align: center;
    margin-top: 20px;
  }
 
  label {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #eb0202;
  }
  
  button#Search {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/* Styles pour les boutons */
.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button-row button {
    width: calc(25% - 10px);
    padding: 5px;
    margin-top: 5px;
    font-size: 35px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#global {
    margin-top: 20px;
}
#PopUp {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: black;
    width: 300px;
    height: 500px;
    display: none;
}